:root{
    --purpleText: rgb(72, 36, 139);
}

body{
    background-color: blanchedalmond;
}
header {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--purpleText);
    color: blanchedalmond; 
    display: flex;
    align-items: center;
}

header h1{
    box-sizing: content-box;
    /* width: 25%; */
    margin: 0;
    height: 100%;
    align-items: flex-start;
    background-color: rgb(68, 46, 168);
    color: blanchedalmond;
    margin-bottom: 1%;
    margin-top: .5%;
    padding-right: 2%;
}
header nav{ 
    position: absolute;
    right: -2%;
    width: 50%;
}

header nav a{
    color: blanchedalmond;
    font-size: 150%;
    padding: 5%;
}

header nav a:hover {
    color: purple
}

#banner{
    text-align: center;
    color: white;
    width: 100%;
  }

.hero-image {
    background-image: url("/Assets/Images/banner.jpg");
    width: 100%;
    height: 300px;
    background-size: cover;
    
  }
  

.hero-image h2 {
    font-size: 150%;
    background-color: var(--purpleText); 
    color:blanchedalmond;
    position: relative;
    left: 65%;
    top:30%;
    width: 30%; 
  }   

main{
    display: flex; 
     flex-wrap: wrap;
}

main #About_Me{
    color: var(--purpleText);
    display: flex;
    width: 100%;
    margin-top: 5%;
}

h2{
    width: 15%;
    font-size: 300%;
    border-right: 5px solid var(--purpleText);  
    height: 100%; 
    margin:0;
    align-content: flex-end;
} 

main #About_Me p {
    color: var(--purpleText);  
    width: 40%;
    height: auto;
    font-size: 150%; 
    padding-left: 5%;  
    align-self: center;
}

main #About_Me img{
    width: 25%; 
    padding-left: 5%;       
}

main #Work{
    color: var(--purpleText);
    display: flex;
    padding-top: 5%;
    width: 100%;
   
}

#image-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 82%; 
}

#lgpic{
    width:95%; 
}

#ltpic{
    width:47%;
}

#wave{
    border: 5px solid var(--purpleText);
    width: 100%; 
    justify-self: end;
}

#smallPic{
    border: 5px solid var(--purpleText);
    width: 100%;
    margin-top: 3%;
}
  

footer{
    color: var(--purpleText);
    padding-top: 5%;
    display: flex; 
}

footer h3{
    font-size: 150%;
    padding-left: 5%;
    text-decoration: underline;
}

footer address h3 a{
    font-size: 100%;
    color: var(--purpleText);
    padding-left: 5%;
} 

/* Tablets  */
@media screen and (max-width: 1249px) {
   h2{
    font-size:200%;
   }
   h3{
    display: flex;
   }
 
  }
  
  /* Large smartphones  */
  @media screen and (max-width: 815px) {
    header {
      flex-wrap:wrap;
    }
    h1{
        font-size: 150%;
    }

  }
  
  /* Small smartphones */
  @media screen and (max-width: 576px) {
    main #About_Me img {
        width: 0%;
        height: 0%;  
    }
    p{
        width: 100%;
    }
  }
  