header {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(15, 15, 75);
    color: blanchedalmond; 
    display: flex;
    align-items: center;
}

header h1{
    height: 100%;
    align-items: flex-start;
}
header nav{ 
    position: absolute;
    right: -10%;
    margin: 0px auto;
    width: 50%;
    font-size: 150%;
}

header nav p{
    padding: 5%;
    display: inline;
    text-decoration: underline;
}

img {
    width: 100%;
}