header {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(15, 15, 75);
    color: blanchedalmond; 
    display: flex;
    align-items: center;
}

header h1{
    box-sizing: content-box;
    width: 32%;
    margin: 0;
    height: 100%;
    align-items: flex-start;
    background-color: rgb(68, 46, 168);
    color: blanchedalmond;
    margin-bottom: 1%;
    margin-top: .5%;
}
header nav{ 
    position: absolute;
    right: -2%;
    width: 50%;
}

header nav h2{
    padding: 5%;
    display: inline;
    text-decoration: underline;
}

banner{
    position: relative;
    text-align: center;
    color: white;
  }

banner h2 {
    box-sizing: content-box;
    width: 16%;
    height: 150%;
    position: absolute;
    bottom: 200%;
    right: 10%;
    font-size: 150%;
    background-color: rgb(15,15,75); 
    color:blanchedalmond;
  }  

img {
   width: 100%;
}

main section{
    color: rgb(15, 15, 75);
    margin-top: 4%;
    display: flex;
    padding-right: 3%;
    border-right: 5px solid rgb(15, 15, 75);
    height: 300px;
    position: absolute;
    left: 15%; 
}

main section h2{
    margin-top: 0%;
    height: 100%;
    font-size: 300%;
    block-size: 150%;
    right: 200%
}

main p {
    color: rgb(15,15,75);
    margin-top: 4%;  
    width: 40%;
    height: auto;
    position: absolute;
    right: 5%;
    font-size: 150%;
}

body{
    background-color: blanchedalmond;
}

main section2{
    color: rgb(15, 15, 75);
    margin-top: 30%;
    display: flex;
    padding-right: 3.75%;
    border-right: 5px solid rgb(15, 15, 75);
    height: 1000px;
    position: absolute;
    left: 15%; 
}

main section2 h2{
    margin-top: 0%;
    height: 100%;
    font-size: 300%;
    block-size: 150%;
    right: 200%;
}

main img{
    width: 20%;
    margin-top: 3%;  
    position: absolute;
    right:49%;
    
}


